staging*
.DS_Store
.vs
*.rsa
*.der
*.xml
*.bin
Builder/templates/*go
Builder/builder
*.exe
*.csr
*.org
Builder/templates/testKeyRSA
Builder/templates/first
*.iml
.DS_Store
Builder/example
Listeners/controller
API/API_Listener
Builder/templates/testKeyRSA.pub
commands.log
profile.json
CloakNDaggerC2
Builder/encryption_test.go
Builder/templatesexample.go
Builder/winfunc.go
