/__pycache__
/.idea
*.log
*.pkl
*.pem
/node_modules
*.map
/.wrangler
*.exe
*.pyc
/Server/__pycache__
/Server/__pycache__
*.pyc
Server/s_conf.json
Implant/config/shared/config.bin
*.bin
/Implant/preprocessor
Server/s_conf.json
*.json
